name: 04 - Using Actions

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    # 0. Checkout the code from the respository
    # 1. Install deps of our react application
    # 2. Excecute automated tests

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - name: Install Dependencies
        run: npm ci
